body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

iframe, audio {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}
